h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210301089-01 Identificar cliente objetivo de acuerdo con políticas de la entidad.