.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Adopem:
            | Entidad financiera dominicana encargada de la certificación de mujeres principalmente.
        p
            strong.mr-2 Microempresa:
            | La microempresa es una actividad económica de tamaño pequeño determinado por las leyes de cada país. El tamaño se define por la cantidad de empleados y / o determinado por el volumen de ventas.    
        p
            strong.mr-2 Microempresario:
            | Ser empresario es emprender por cuenta propia. Esto implica tomar decisiones, enfrentar riesgos y obtener beneficios de una actividad de la cual se es el principal responsable. A los empresarios de pequeñas empresas se les conoce como microempresarios.                
        p
            strong.mr-2 Microfinanzas:
            | Las microfinanzas son préstamos que se dirigen a personas o a grupos con pocos medios económicos y que normalmente están excluidos del sistema financiero tradicional, y también define los negocios que crecieron alrededor de estas actividades.
        p
            strong.mr-2 Sistema Financiero:
            | Es el conjunto de entidades, organizaciones, mercados y medios que garantizan la seguridad y el movimiento del dinero del país y sus habitantes. 