.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Anzola, S. (2010). Administración de pequeñas empresas. 
                    
                    td Lectura
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=892", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td BBVA (2020) Una titán con el mundo sobre sus hombros
                    td Lectura
                    td 
                        a(href="https://www.bbva.com/es/titan-mundo-hombros/", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Castro, F, M. (2010). El papel de la mujer en los microcréditos de los países en vías de desarrollo. El caso de Mohammad Yunus (Bangladesh).
                    td Lectura
                    td 
                        a(href="https://www.redalyc.org/pdf/181/18113757005.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Congreso de la República (2000). Ley 590 de 2000.
                    td Lectura
                    td 
                        a(href="http://www.secretariasenado.gov.co/senado/basedoc/ley_0590_2000.html", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Consejo Superior de Microempresa (2007). Resolución número 01 de 2007.
                    td Lectura
                    td 
                        a(href="https://bancadelasoportunidades.gov.co/sites/default/files/2017-02/Resolucion-0001-2007.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Zapata Martelo, E. García, Z. y Alberti Manzanares, P. (2008). Microfinanciamiento y empoderamiento de mujeres rurales: las cajas de ahorro y crédito en México. Plaza y Valdés, S.A. de C.V.
                    td Lectura
                    td 
                        a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/75513", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Ministerio de Comercio, Industria y Turismo (2019). Decreto 957 de 2019. 
                    td Lectura
                    td 
                        a(href="https://dapre.presidencia.gov.co/normativa/normativa/DECRETO%20957%20DEL%2005%20DE%20JUNIO%20DE%202019.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Sistema Único de Información Normativa, (2008). Decreto 919 de 2008 (marzo 31) por el cual se modifica el Decreto 519 de 2007 y se dictan otras disposiciones.
                    td Lectura
                    td 
                        a(href="http://www.suin.gov.co/viewDocument.asp?id=1729784", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Riquelme, et Al, (2010). Experiencias internacionales sobre microfinanzas : manual del microcrédito.
                    td Lectura
                    td 
                        a(href="https://www-digitaliapublishing-com.bdigital.sena.edu.co/a/17272/experiencias-internacionales-sobre-microfinanzas---manual-del-microcredito", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Soler, C & Reig, E. (2011). Pequeñas empresas, grandes ideas Las claves para la gestión de la empresa familiar.
                    td Lectura
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4567", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver